# .env.example
DATABASE_URL=postgres://postgres:SOJyBVAlLfNZrAJgVeoWUrKnaHvPVAPM@yamanote.proxy.rlwy.net:16797/railway?sslmode=require
PORT=3000

# Bybit Testnet
BYBIT_API_KEY=YOUR_TESTNET_API_KEY
BYBIT_API_SECRET=YOUR_TESTNET_API_SECRET
BYBIT_BASE_URL_TEST=https://api-testnet.bybit.com
BYBIT_BASE_URL_REAL=https://api.bybit.com
BYBIT_TESTNET=true
